.main{
    height: 42px;
    width: '100%';
    background: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navtext{
    color: #626262;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}